* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Smythe", system-ui;  
}

body {
    background-color: darkgray;
    
}

.container {
    width: 600px;
    padding-bottom: 53px;
    margin: 20px auto;
    background-color: #ffffff;
    color: #000000;
    position: relative;
    z-index: 1;
}

main {
    padding: 67px 46px 0;
}

button {
    cursor: pointer;
}

.green-btn {
    border: none;
    background-color: #16DB99;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.radius {
    border-radius: 4px;
}

.hidden {
    display: none;
}

/* TYPOGRAPHY */
h1 {
    font-size: 39px;
    font-weight: 400;
    color: #ffffff;
}

h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 45px; 
    text-align: center;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

.menu-item-price,
.order-item-price,
.order-total-price  {
    font-size: 20px;
}

.order-item-name,
.order-total-text {
    font-size: 28px;
    /* font-weight: 400; */
}

.verdana {
    font-family: Verdana, Tahoma, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: 167px;
    background-image: url("images/burger_header.png");
    padding: 46px 0 0 46px; 
}

.tagline {
    font-size: 23px;
    color: #ffffff;
}

/* MENU */
.menu-item-card {
    width: 100%;
    height: 89px;
    display: flex;
}

.menu-item-image {
    font-size: 80px;
    margin-right: 31px;
}

.menu-item-ingredients {
    font-size: 16px;
    color: #8B8B8B;
    margin: 5px 0 14px;
}

.menu-item-add-btn {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: #3C3C3C;
    text-align: center;
    padding-bottom: 6px;
}

.menu-item-add-btn:hover {
    border: 2px solid #16DB99;
}

.menu-item-add-btn:active {
    transform: scale(1.1);
}

.menu-item-divider {
    margin: 51px 0 45px;
    border-bottom: 1px solid #D2D2D2;
}

/* ORDER */
.order-item-div {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.order-item-remove-btn {
    margin-left: 4px;
    border: none;
    background-color: #ffffff;
    font-size: 12px;
    color: #BBBBBB;
}

.order-item-remove-btn:hover {
    color: red;
}

.order-item-remove-btn:active {
    transform: scale(1.1);
}

.order-item-price {
    margin-left: auto;
}

.order-divider {
    margin: 28px 0 14px;
    border-bottom: 2px solid #393333;
}

.order-total-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-btn {
    width: 100%;
    height: 60px;
    margin-top: 45px;
}

/* MODAL */
form {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-div {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 524px;
    height: 542px;
    padding:  18px 30px 36px;
    background-color: #ffffff;
    box-shadow: 6px 6px 256px rgb(0 0 0 / 50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-div {
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    display: block;
    width: 100%;
    height: 72px;
    padding-left: 26px;
    font-size: 20px;
    color: #757575;
    border: 1px solid #757575;
}

.pay-btn {
    height: 72px;
}

.modal-close-btn {
    margin-left: auto;
    width: 25px;
    height: 25px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #3C3C3C;
    text-align: center;
    line-height: 1;
    padding-bottom: 4px;
}

.modal-close-btn:hover {
    border: 1.5px solid red;
    color: red;
}