* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Smythe", system-ui;  
}

body {
    width: 600px;
    height: 1161px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid black;
}

/* TYPOGRAPHY */
h1 {
    font-size: 39px;
    font-weight: 400;
    color: #ffffff;
}

h2 {
    font-size: 28px;
    color: #000000;
}

/* HEADER */
header {
    width: 100%;
    height: 167px;
    background-image: url("images/burger_header.png");
    padding: 46px 0 0 46px; 
}

header p {
    font-size: 23px;
    color: #ffffff;
}